src/META-INF/wsdl/203.162.10.109_8080/JNPWS/DataService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://medianews.vn/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://medianews.vn/" name="DataService">
<types>
<xsd:schema>
<xsd:import namespace="http://medianews.vn/" schemaLocation="http://203.162.10.109:8080/JNPWS/DataService?xsd=1" />
</xsd:schema>
</types>
<message name="getData">
<part name="parameters" element="tns:getData" />
</message>
<message name="getDataResponse">
<part name="parameters" element="tns:getDataResponse" />
</message>
<message name="submitDataString">
<part name="parameters" element="tns:submitDataString" />
</message>
<message name="submitDataStringResponse">
<part name="parameters" element="tns:submitDataStringResponse" />
</message>
<message name="getDataDouble">
<part name="parameters" element="tns:getDataDouble" />
</message>
<message name="getDataDoubleResponse">
<part name="parameters" element="tns:getDataDoubleResponse" />
</message>
<message name="submitDataInt">
<part name="parameters" element="tns:submitDataInt" />
</message>
<message name="submitDataIntResponse">
<part name="parameters" element="tns:submitDataIntResponse" />
</message>
<message name="submitDataIntMatrix">
<part name="parameters" element="tns:submitDataIntMatrix" />
</message>
<message name="submitDataIntMatrixResponse">
<part name="parameters" element="tns:submitDataIntMatrixResponse" />
</message>
<message name="submitDataStringArray">
<part name="parameters" element="tns:submitDataStringArray" />
</message>
<message name="submitDataStringArrayResponse">
<part name="parameters" element="tns:submitDataStringArrayResponse" />
</message>
<message name="submitDataIntArray">
<part name="parameters" element="tns:submitDataIntArray" />
</message>
<message name="submitDataIntArrayResponse">
<part name="parameters" element="tns:submitDataIntArrayResponse" />
</message>
<portType name="DataService">
<operation name="getData">
<input wsam:Action="http://medianews.vn/DataService/getDataRequest" message="tns:getData" />
<output wsam:Action="http://medianews.vn/DataService/getDataResponse" message="tns:getDataResponse" />
</operation>
<operation name="submitDataString">
<input wsam:Action="http://medianews.vn/DataService/submitDataStringRequest" message="tns:submitDataString" />
<output wsam:Action="http://medianews.vn/DataService/submitDataStringResponse" message="tns:submitDataStringResponse" />
</operation>
<operation name="getDataDouble">
<input wsam:Action="http://medianews.vn/DataService/getDataDoubleRequest" message="tns:getDataDouble" />
<output wsam:Action="http://medianews.vn/DataService/getDataDoubleResponse" message="tns:getDataDoubleResponse" />
</operation>
<operation name="submitDataInt">
<input wsam:Action="http://medianews.vn/DataService/submitDataIntRequest" message="tns:submitDataInt" />
<output wsam:Action="http://medianews.vn/DataService/submitDataIntResponse" message="tns:submitDataIntResponse" />
</operation>
<operation name="submitDataIntMatrix">
<input wsam:Action="http://medianews.vn/DataService/submitDataIntMatrixRequest" message="tns:submitDataIntMatrix" />
<output wsam:Action="http://medianews.vn/DataService/submitDataIntMatrixResponse" message="tns:submitDataIntMatrixResponse" />
</operation>
<operation name="submitDataStringArray">
<input wsam:Action="http://medianews.vn/DataService/submitDataStringArrayRequest" message="tns:submitDataStringArray" />
<output wsam:Action="http://medianews.vn/DataService/submitDataStringArrayResponse" message="tns:submitDataStringArrayResponse" />
</operation>
<operation name="submitDataIntArray">
<input wsam:Action="http://medianews.vn/DataService/submitDataIntArrayRequest" message="tns:submitDataIntArray" />
<output wsam:Action="http://medianews.vn/DataService/submitDataIntArrayResponse" message="tns:submitDataIntArrayResponse" />
</operation>
</portType>
<binding name="DataServicePortBinding" type="tns:DataService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getData">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="submitDataString">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getDataDouble">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="submitDataInt">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="submitDataIntMatrix">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="submitDataStringArray">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="submitDataIntArray">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="DataService">
<port name="DataServicePort" binding="tns:DataServicePortBinding">
<soap:address location="http://203.162.10.109:8080/JNPWS/DataService" />
</port>
</service>
</definitions>